/* font-family: 'Lato', sans-serif; */
html, body{
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Lato', sans-serif; 
    font-size: 14px;
    line-height: 20px;
}
h2{
    font-size: 26px;
    line-height: 30px;
}
a{
    color: black;
    text-decoration: none;
}
div.grid-container{
    margin: auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
    div.menu_img{
        grid-column: 1/2;
        background-image: url("../images/header_bg.png");
        background-repeat: repeat;
        padding: 10px 0 ;
    }
            div.menu_img img{
                width: 300px;
            }
    div.menu_container{
        grid-column: 2/5;
        padding: 40px 0;
        padding-left: 210px;
        background-image: url("../images/header_bg.png");
        background-repeat: repeat;
    }
        div.menu_item{
            display: inline-block;
            margin-left: 20px;
            color: #646d74;
            cursor: pointer;
        }
    div.front_img{
        grid-column: 1/3;
        height: 425px;
        box-sizing: border-box;
        padding: 10px;
        padding-left: 30px;
        background-image: url("../images/banner_bg.png");
        background-repeat: repeat;
    }
        div.front_img img{
            max-width: 690px;
            max-height: 320px;
        }
    div.front_txt{
        background-image: url("../images/banner_bg.png");
        background-repeat: repeat;
        grid-column: 3/5;
        padding : 0 10px;
        color :#fff;
    }
    div.grid_item_left{
        grid-column: 1/2;
        margin-top: 20px;
    }
    div.grid_item_middle{
        grid-column: 2/3;
        margin-top: 20px;
    }
    div.grid_item_right{
        grid-column: 3/4;
        margin-top: 20px;
    }
        img.grid_item_img{
            width: 300px;
            height: 150px;

        }
    div.footer{
        grid-column: 1/5;
        background-image: url("../images/footer_bg.png");
        text-align: center;
        color: #ffff;
        margin-top: 20px;
    }